.header-container {
  position: fixed;
  top: 0;
  background-color: var(--color-mainBg);
  z-index: 999;
  width: 100%;
  margin: 0;
  height: 8vh;
  display: flex;
  align-items: center;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 8vh;
  width: 100%;
  height: 100vh;
  background-color: white;
  opacity: 0.8;
  transition: 0.5s all;
}

.logo {
  height: 50px;
  margin-right: 0.3rem;
}

.logo-link {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--color-secondBg);
  margin-right: 3rem;
}

.nav-list {
  list-style: none;
  width: 100%;
  position: fixed;
  top: -100%;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.5s all;
  z-index: 999;
  background-color: black;
  /* transform: translateY(-200%); */
  /* transition: transform 0.5s; */
}

.nav-list.active {
  top: 8vh;
  /* transform: translateY(0); */
}

.nav-list li {
  display: flex;
  justify-content: center;
  width: 100%;
}

.link {
  display: inline-block;
  transition: all 0.3s;
  text-decoration: none;
  color: var(--color-secondBg);
  font-size: 0.9rem;
  padding: 1rem;
}

.link-active {
  display: block;

  font-size: 0.9rem;

  text-decoration: underline;
  color: var(--color-thirdBg);
  padding: 1rem;
}

.link:not(:first-child):hover,
.link:not(:first-child):focus {
  color: var(--color-mainBg);
}

.burger-menu {
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.burger-bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

.burger-open:nth-child(1) {
  transform: rotate(45deg) translate(10px, 4px);
  transition: ease-out 0.5s;
}

.burger-open:nth-child(2) {
  transform: scale(0.1);
  opacity: 0;
  transition: ease-out 0.5s;
}
.burger-open:nth-child(3) {
  transform: rotate(-45deg) translate(11px, -6px);
  transition: ease-out 0.5s;
}

.burger-close {
  transform: rotate(0) translate(0);
  transition: ease-out 0.5s;
}

@media (min-width: 840px) {
  .nav-list {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
    background-color: initial;
    transition: none;
  }
  .divider {
    width: initial;
  }

  .burger-menu {
    display: none;
  }
}
