.about-container h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container p {
  margin-top: 2rem;
}

p.highlighted {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-mainBg);
}

.about-container {
  border: 1px solid red;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.br-line {
  display: block;
}

.br-line .emphasize {
  color: var(--color-mainBg);
}

.highlighted {
  /* border: 1px solid red; */
}

.title-container .title-bg {
  background-image: url("../images/main.png");
  background-size: cover;
  width: 50%;
  height: 100%;
  transform: scaleX(-1);
  /* border: 1px solid blue; */
}

.title-divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.story-container {
  /* border: 1px solid blue; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
}

.story-divider {
  width: 60%;
  padding: 3rem;
}
.person-img {
  background-image: url("../images/test.png");
  background-size: cover;
  background-position: center center;
  width: 40%;
  height: 500px;
  border: 1px solid red;
}
