.book-list {
  width: 100%;
}

.img {
  width: 200px;
  height: 200px;
  border: 1px solid red;
}
.list-container {
  /* list-style: none;; */
  width: 80%;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
}

.list-container li {
  flex: 1;
}
