.categories-container {
  width: 20%;
  height: 100%;
 background-color: #F6F6F6;
  
}

.categories-list {
  list-style: none;
  padding-top: 30px;
}

.categories-list li {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-weight: 800;
  color: #934E72;
}
