.categories-container {
  list-style: none;
  min-width: 200px;
  width: 350px;
  height: 100%;
  z-index: 100;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  background-color: var(--color-secondBg);
}

.categories-container li {
  text-transform: capitalize;
  border: 2px solid var(--color-mainBg);
  border-radius: 25px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  font-weight: 800;
  z-index: 1000;
}

.categories-container li:hover {
  background-color: var(--color-mainBg);
}

.list {
  background-color: var(--color-mainBg);
}
