.modal {
  display: flex;
  flex-direction: column;
}

.modal-btn {
  border: none;
  background: none;
  align-self: flex-end;
  cursor: pointer;
  color: var(--color-black);
}

.modal-content {
  margin-bottom: 10px;
  line-height: 150%;
  font-weight: 100;
}
