/* =========
Fonts
=========== */
.about-container img {
  width: 100%;
  height: 100%;
}
.about-container h1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.highlight h2 {
  font-size: 1.5rem;
}

.about-container h2 {
  font-size: 1rem;
  font-weight: 100;
}

.profile-container h2 {
  font-size: 1.5rem;
}

.about-container p {
  margin-top: 1rem;
  line-height: 1.5;
}

/* =========
title
=========== */

.title-container {
  display: flex;
  height: 100vh;
}

.br-line {
  display: block;
}

.br-line .emphasize {
  color: var(--color-green);
}

.title-container .title-bg {
  background-image: url("../../images/main.png");
  background-size: 250% 100%;
  background-position: right center;
  width: 100%;
  height: 100%;
}

.title-divider {
  position: absolute;
  right: 1rem;
}

/* =========
Story
=========== */

.story-container {
  height: 290vh;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  will-change: transform;
}
/* =====
intro
======== */
.intro {
  width: 100%;
  /* height: 72vh; */
  height: 72vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-green);
}

.highlight {
  text-align: center;
  border-radius: 10px;
  padding: 2rem 4rem;
  margin-top: 1rem;
  background-color: var(--color-yellow);
  position: relative;
}

.highlight::before {
  content: open-quote;
  color: var(--color-white);
  font-size: 4rem;
  position: absolute;
  top: -20px;
  left: 0;
}

.highlight::after {
  content: close-quote;
  color: var(--color-white);
  font-size: 4rem;
  position: absolute;
  bottom: -65px;
  right: 0;
}

.arrow {
  padding-top: 4rem;
  bottom: 17rem;
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 4px solid var(--color-white);
  border-right: 4px solid var(--color-white);
  transform: rotate(45deg);
  margin: -10px;
  animation: scrollDown 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

.row-container {
  background-color: var(--color-white);
  max-width: 700px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  border-radius: 10px 10px 0 0;
  will-change: transform;
}

.header {
  background-color: var(--color-yellow);
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 5px solid var(--color-red); */
}

.img-container {
  width: 360px;
  height: auto;
  position: relative;
}

.text-top p,
.text-middle p,
.text-bottom p {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.text-top,
.text-middle,
.text-bottom {
  position: absolute;
}

/*======
 First slide 
 =======*/

.row-container:nth-child(2) .contents {
  border: 5px solid var(--color-yellow);
  border-bottom: 0;
}

.row-container:nth-child(2) .text-top {
  right: 75px;
  top: 50px;
}

.row-container:nth-child(2) .text-bottom {
  right: 20px;
  bottom: 69px;
}

/*======
Second Slide
=======*/

.row-container:nth-child(3) .contents {
  border: 5px solid var(--color-red);
  border-bottom: 0;
}

.row-container:nth-child(3) .text-top {
  top: 25px;
  right: 180px;
}

.row-container:nth-child(3) .text-middle {
  top: 165px;
  right: 43px;
}

.row-container:nth-child(3) .text-bottom {
  bottom: 40px;
  right: 45px;
  width: 168px;
}

.row-container:nth-child(3) .header {
  background-color: var(--color-red);
}

/*======
Third Slide
 =======*/

.row-container:nth-child(4) .contents {
  border: 5px solid var(--color-blue);
  border-radius: 0 0 10px 10px;
}

.row-container:nth-child(4) .header {
  background-color: var(--color-blue);
}

.row-container:nth-child(4) .text-top {
  top: 28px;
  right: 97px;
}

.row-container:nth-child(4) .text-middle {
  top: 167px;
  right: 22px;
}

.row-container:nth-child(4) .text-bottom {
  bottom: 30px;
  right: 24px;
}

/* =========
profiles
=========== */

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.profile-container h2 {
  margin-top: 2rem;
}

.profiles {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.profile-card {
  width: 300px;
  border-radius: 50px;
  margin: 1rem;
  -webkit-box-shadow: 0px 9px 23px 0px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 9px 23px 0px rgba(0, 0, 0, 0.46);
}

.card-top {
  width: 100%;
  height: 150px;

  background-color: var(--color-green);
  border-radius: 50px 50px 0 0;
  position: relative;
  margin-bottom: 1rem;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.profile-card p {
  width: 200px;
}

.profile-img-container {
  display: flex;
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translate(50%, 20%);
  object-fit: cover;
  min-width: 100px;
  min-height: 100px;
  max-width: 200px;
  -webkit-box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.46);
  border-radius: 50%;
  width: 40%;
}

.profile-img-container img {
  border-radius: 50%;
}

.profile-links {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
}

.profile-links li {
  padding: 0.3rem;
}

.profile-links a {
  color: var(--color-black);
  text-decoration: none;
  display: flex;
  font-size: 1.5rem;
  transition: all 0.5s;
}

.profile-links a:hover,
.profile-links a:focus {
  color: var(--color-red);
  transform: translateY(-5px);
}

@media (min-width: 500px) {
  /* =======
  first slide
  ========== */
  .img-container {
    width: 500px;
    height: 500px;
    position: relative;
  }
  .row-container:nth-child(2) .text-top {
    top: 115px;
    right: 60px;
  }

  .row-container:nth-child(2) .text-bottom {
    top: 315px;
    right: 30px;
  }

  /* =======
  second slide
  ========== */

  .row-container:nth-child(3) .img-container {
    width: 600px;
  }

  .row-container:nth-child(3) .text-top {
    top: 70px;
    /* right: 98px; */
    right: 128px;
  }

  .row-container:nth-child(3) .text-middle {
    top: 240px;
    /* right: 75px; */
    right: 105px;
  }

  .row-container:nth-child(3) .text-bottom {
    top: 367px;
    /* right: 154px; */
    right: 200px;
  }

  /* =======
  third slide
  ========== */
  .row-container:nth-child(4) .img-container {
    width: 550px;
  }
  .row-container:nth-child(4) .text-top {
    top: 33px;
    /* right: 8px; */
    right: 18px;
  }

  .row-container:nth-child(4) .text-middle {
    top: 225px;
    /* right: 35px; */
    right: 45px;
  }

  .row-container:nth-child(4) .text-bottom {
    /* right: 45px; */
    right: 55px;
  }
}

@media (min-width: 900px) {
  /* =========
  title
  =========== */

  .title-container h1 {
    font-size: 3rem;
  }
  .title-container .title-bg {
    margin-top: 10vh;
    background-position: initial;
    background-size: cover;
    width: 50%;
    height: 100%;
    transform: translateX(-1000px) scaleX(-1);
    animation: slideIn 1s ease-in-out forwards;
  }
  .title-divider {
    position: initial;
    width: 50%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* =========
  story
  =========== */
}

@media (min-width: 1151px) {
  .profile-container {
    height: 92vh;
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translateX(-1000px) scaleX(-1);
    -moz-transform: translateX(-1000px) scaleX(-1);
    -o-transform: translateX(-1000px) scaleX(-1);
    -ms-transform: translateX(-1000px) scaleX(-1);
  }
  to {
    -webkit-transform: translate(0, 0) scaleX(-1);
    -moz-transform: translate(0, 0) scaleX(-1);
    -o-transform: translate(0, 0) scaleX(-1);
    -ms-transform: translate(0, 0) scaleX(-1);
  }
}

@keyframes pageSlide {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes scrollDown {
  0% {
    opacity: 1;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
