/* =========
Fonts
=========== */
.about-container img {
  width: 100%;
  height: 100%;
}
.about-container h1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.highlight h2 {
  font-size: 1.5rem;
}

.about-container h2 {
  font-size: 1rem;
  font-weight: 100;
}

.about-container p {
  margin-top: 1rem;
  line-height: 1.5;
}

/* =========
title
=========== */

.title-container {
  display: flex;
  height: 100vh;
}

.br-line {
  display: block;
}

.br-line .emphasize {
  color: var(--color-mainBg);
}

.title-container .title-bg {
  background-image: url("../../images/main.png");
  background-size: 250% 100%;
  background-position: right center;
  width: 100%;
  height: 100%;
}

.title-divider {
  position: absolute;
  right: 1rem;
}

/* =========
Story
=========== */

.story-container {
  height: 290vh;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  will-change: transform;
}
/* =====
intro
======== */
.intro {
  width: 100%;
  height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-mainBg);
}

.highlight {
  text-align: center;
  border-radius: 10px;
  padding: 2rem 4rem;
  margin-top: 1rem;
  background-color: var(--color-thirdBg);
  position: relative;
}

.highlight::before {
  content: open-quote;
  color: var(--color-secondBg);
  font-size: 4rem;
  position: absolute;
  top: -20px;
  left: 0;
}

.highlight::after {
  content: close-quote;
  color: var(--color-secondBg);
  font-size: 4rem;
  position: absolute;
  bottom: -65px;
  right: 0;
}

.arrow {
  padding-top: 4rem;
  bottom: 17rem;
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 4px solid var(--color-secondBg);
  border-right: 4px solid var(--color-secondBg);
  transform: rotate(45deg);
  margin: -10px;
  animation: scrollDown 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

.row-container {
  background-color: var(--color-secondBg);
  max-width: 700px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  border-radius: 10px 10px 0 0;
  will-change: transform;
}

.header {
  background-color: var(--color-thirdBg);
  border-top: 1px solid var(--color-fourthBg);
  border: 1px solid var(--color-fourthBg);
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

/*======
 First slide 
 =======*/
.img-container {
  width: 500px;
  height: 500px;
  position: relative;
}

.text-top p,
.text-middle p,
.text-bottom p {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.text-top {
  position: absolute;
  width: 200px;
  height: 100px;
  right: 20px;
  top: 110px;
}

.text-bottom {
  position: absolute;
  right: 0;
  bottom: 95px;
}

/*======
Second Slide
=======*/

.row-container:nth-child(3) .img-container {
  width: 550px;
}

.row-container:nth-child(3) .text-top {
  top: 65px;
  right: 40px;
}

.row-container:nth-child(3) .text-middle {
  position: absolute;
  top: 240px;
  right: 93px;
}

.row-container:nth-child(3) .text-bottom {
  bottom: 71px;
  right: 160px;
}

.row-container:nth-child(3) .header {
  background-color: rgb(224, 79, 79);
}

/*======
Third Slide
 =======*/

.row-container:nth-child(4) .img-container {
  width: 550px;
  height: 450px;
}

.row-container:nth-child(4) .header {
  background-color: #577fb7;
}

.row-container:nth-child(4) .text-top {
  width: 230px;
  top: 24px;
  right: -8px;
}

.row-container:nth-child(4) .text-middle {
  position: absolute;
  top: 196px;
  right: 33px;
}

.row-container:nth-child(4) .text-bottom {
  bottom: 20px;
  right: 46px;
}

/* =========
profiles
=========== */

.profile-container h2 {
  margin-bottom: 4rem;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.profiles {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 80%;
}

.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.profile-img-container {
  object-fit: cover;
  min-width: 100px;
  min-height: 100px;
  max-width: 300px;
  width: 100%;
}

.profile-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 500px) {
  /* =======
  first slide
  ========== */
  .text-top {
    right: 50px;
  }
  .text-bottom {
    right: 37px;
  }

  /* =======
  second slide
  ========== */

  .row-container:nth-child(3) .text-top {
  }

  .row-container:nth-child(3) .text-middle {
  }

  .row-container:nth-child(3) .text-bottom {
    width: 200px;
    right: 155px;
  }

  /* =======
  third slide
  ========== */

  .row-container:nth-child(4) .text-top {
    right: 5px;
  }

  .row-container:nth-child(4) .text-middle {
    right: 50px;
  }

  .row-container:nth-child(4) .text-bottom {
    width: 200px;
    right: 65px;
  }
}

@media (min-width: 900px) {
  /* =========
  title
  =========== */

  .title-container h1 {
    font-size: 3rem;
  }
  .title-container .title-bg {
    margin-top: 10vh;
    background-position: initial;
    background-size: cover;
    width: 50%;
    height: 100%;
    transform: translateX(-1000px) scaleX(-1);
    animation: slideIn 1s ease-in-out forwards;
  }
  .title-divider {
    position: initial;
    width: 50%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* =========
  story
  =========== */
}

@media (min-width: 1024px) {
  .profile-container {
    height: 100vh;
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translateX(-1000px) scaleX(-1);
    -moz-transform: translateX(-1000px) scaleX(-1);
    -o-transform: translateX(-1000px) scaleX(-1);
    -ms-transform: translateX(-1000px) scaleX(-1);
  }
  to {
    -webkit-transform: translate(0, 0) scaleX(-1);
    -moz-transform: translate(0, 0) scaleX(-1);
    -o-transform: translate(0, 0) scaleX(-1);
    -ms-transform: translate(0, 0) scaleX(-1);
    /* transform: scaleX(-1); */
  }
}

@keyframes pageSlide {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes scrollDown {
  0% {
    opacity: 1;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
