/* =========
Fonts
=========== */
/* .about-container {
  background-color: var(--color-green);
} */
.about-container img {
  width: 100%;
  height: 100%;
}
.about-container h1 {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.about-container h2,
.profile-container h2 {
  color: var(--color-white);
  font-size: 2rem;
  /* font-size: 45px; */
  font-weight: 400;
}

.about-container p {
  font-size: 1rem;
  color: var(--color-black);
}

.about-container p {
  margin-top: 1rem;
  line-height: 1.5;
}

.intro-header p {
  color: var(--color-white);
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.profile-container h3 {
  font-size: 1rem;
}
.profile-container p {
  font-size: 16px;
}

/* =========
title
=========== */

.title-container {
  display: flex;
  height: 92vh;
  background-color: var(--color-green);
}

.br-line {
  display: block;
}

.br-line .emphasize {
  color: var(--color-yellow);
}

.title-bg {
  background-image: url("../../images/main-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 700px;
  height: 550px;
  /* width: 380px; */
  /* height: 300px; */
  margin-top: 1rem;
  /* border: 1px solid red; */
}

.title-divider {
  position: absolute;
  bottom: 7rem;
  right: 1rem;
}

/* =========
Story
=========== */

.story-container {
  height: 290vh;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  will-change: transform;
}
/* =====
intro
======== */
.intro {
  width: 100%;
  height: 92vh;
  margin-top: 8vh;
}

.intro-header {
  height: 10vh;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  /* padding-top: 4rem; */
  bottom: 17rem;
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 4px solid var(--color-white);
  border-right: 4px solid var(--color-white);
  transform: rotate(45deg);
  margin: -10px;
  animation: scrollDown 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

.row-container {
  background-color: var(--color-white);
  max-width: 700px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  border-radius: 10px 10px 0 0;
  will-change: transform;
}

.header {
  background-color: var(--color-yellow);
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 5px solid var(--color-red); */
}

.img-container {
  width: 360px;
  height: auto;
  position: relative;
}

.text-top p,
.text-middle p,
.text-bottom p {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.text-top,
.text-middle,
.text-bottom {
  position: absolute;
}

/*======
 First slide 
 =======*/

.row-container:nth-child(2) .contents {
  border: 5px solid var(--color-yellow);
  border-bottom: 0;
}

.row-container:nth-child(2) .text-top {
  right: 75px;
  top: 50px;
}

.row-container:nth-child(2) .text-bottom {
  right: 20px;
  bottom: 69px;
}

/*======
Second Slide
=======*/

.row-container:nth-child(3) .contents {
  border: 5px solid var(--color-red);
  border-bottom: 0;
}

.row-container:nth-child(3) .text-top {
  top: 25px;
  right: 180px;
}

.row-container:nth-child(3) .text-middle {
  top: 165px;
  right: 43px;
}

.row-container:nth-child(3) .text-bottom {
  bottom: 40px;
  right: 45px;
  width: 168px;
}

.row-container:nth-child(3) .header {
  background-color: var(--color-red);
}

/*======
Third Slide
 =======*/

.row-container:nth-child(4) .contents {
  border: 5px solid var(--color-blue);
  border-radius: 0 0 10px 10px;
}

.row-container:nth-child(4) .header {
  background-color: var(--color-blue);
}

.row-container:nth-child(4) .text-top {
  top: 28px;
  right: 97px;
}

.row-container:nth-child(4) .text-middle {
  top: 167px;
  right: 22px;
}

.row-container:nth-child(4) .text-bottom {
  bottom: 30px;
  right: 24px;
}

/* =========
profiles
=========== */

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.profile-container h2 {
  align-self: flex-start;
  margin-top: 2rem;
}

.profiles {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.profile-card {
  min-width: 152px;
  width: 30%;
  margin: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-bottom {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-card p,
.profile-card h3 {
  margin: 0;
  text-align: center;
  color: var(--color-white);
}

.profile-img-container {
  background-size: cover;
  background-position: 35% center;
  width: 114px;
  height: 117px;
  border-radius: 50%;
}

.pic-minki {
  background-image: url("../../images/minki.jpeg");
}
.pic-seung,
.pic-woong {
  background-image: url("../../images/profile-sample.jpg");
}

.pic-hwa {
  background-image: url("../../images/seunghwa.jpeg");
}

.profile-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.profile-links li {
  padding: 0.3rem;
}

.profile-links a {
  color: var(--color-black);
  text-decoration: none;
  display: flex;
  font-size: 1.5rem;
  transition: all 0.5s;
}

.profile-links a:hover,
.profile-links a:focus {
  color: var(--color-red);
  transform: translateY(-5px);
}

@media (min-width: 500px) {
  /* =======
  first slide
  ========== */
  .img-container {
    width: 500px;
    height: 500px;
    position: relative;
  }
  .row-container:nth-child(2) .text-top {
    top: 115px;
    right: 60px;
  }

  .row-container:nth-child(2) .text-bottom {
    top: 315px;
    right: 30px;
  }

  /* =======
  second slide
  ========== */

  .row-container:nth-child(3) .img-container {
    width: 600px;
  }

  .row-container:nth-child(3) .text-top {
    top: 70px;
    /* right: 98px; */
    right: 128px;
  }

  .row-container:nth-child(3) .text-middle {
    top: 240px;
    /* right: 75px; */
    right: 105px;
  }

  .row-container:nth-child(3) .text-bottom {
    top: 367px;
    /* right: 154px; */
    right: 200px;
  }

  /* =======
  third slide
  ========== */
  .row-container:nth-child(4) .img-container {
    width: 550px;
    height: 450px;
  }
  .row-container:nth-child(4) .text-top {
    top: 26px;
    right: 18px;
  }

  .row-container:nth-child(4) .text-middle {
    top: 200px;
    right: 45px;
  }

  .row-container:nth-child(4) .text-bottom {
    right: 55px;
    bottom: 20px;
  }
}

@media (min-width: 638px) {
  .profile-card {
    width: 270px;
  }
  .profile-card .profile-img-container,
  .profile-img-container-minki {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 900px) {
  /* =========
  title
  =========== */

  .title-container h1 {
    font-size: 3rem;
  }
  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-container .title-bg {
    background-position: initial;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 721px;
    height: 584px;
  }
  .title-divider {
    position: initial;
    width: 50%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* =========
  profiles
  =========== */

  .profile-card .profile-img-container,
  .profile-img-container-minki {
    width: 250px;
    height: 250px;
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translateX(-1000px) scaleX(-1);
    -moz-transform: translateX(-1000px) scaleX(-1);
    -o-transform: translateX(-1000px) scaleX(-1);
    -ms-transform: translateX(-1000px) scaleX(-1);
  }
  to {
    -webkit-transform: translate(0, 0) scaleX(-1);
    -moz-transform: translate(0, 0) scaleX(-1);
    -o-transform: translate(0, 0) scaleX(-1);
    -ms-transform: translate(0, 0) scaleX(-1);
  }
}

@keyframes pageSlide {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes scrollDown {
  0% {
    opacity: 1;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
